<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Samvirk" value="https://nuget.pkg.github.com/samvirk/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Samvirk>
        <add key="Username" value="token" />
        <add key="ClearTextPassword" value="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" />
    </Samvirk>
  </packageSourceCredentials>
</configuration>